<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<base href="/">
	<title>Fictional Game Database</title>
	<meta name="description" content="A fictional game database used for CS340.">
	<meta name="author" content="Charles Ledbetter">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="/css/style.css" type="text/css">
	<script src="/scripts/script.js"></script>
</head>
<body>
	{{{body}}}
</body>
</html>
